.infl-container {
  display: flex;
  padding: 24px;
}

.suggested-infl {
  flex: 0 0 30%;
  border-right: 1px #cccccc dashed;
  padding: 0 12px;
}

.starred-infl {
  flex: 0 0 70%;
  padding: 0 12px;

}

.infl-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  margin-left: 12px;
}

.infl-header-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggested-infl-row {
  display: flex;
  align-items: center;
  margin: 6px;

}

.starred-infl-container {
  display: flex;
  align-items: center;
  a {
    padding: 12px;
    font-size: 24px;
  }
}

.starred-infl-row {
  flex: 0 0 90%;
  display: flex;
  align-items: center;
  margin: 6px;
  background-color: #fcfcfc;
  border: 1px solid #EFECEC;
  border-radius: 50px 0px 0px 50px;
  height: 74px;
}

.infl-avatar {
  border-radius: 50%;
  width: 68px;
  height: 68px;
}

.infl-avatar-border {
  flex: 0 0 auto;
  background-image: linear-gradient(to right, #6b81ff, #ffa5e5);
  height: 74px;
  width: 74px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.infl-fullname {
  flex: 0 0 60%;
  padding: 6px;
}

.infl-statistics {
  flex: 0 0 13%;
  padding: 8px;
}

.infl-icon {
  flex: 0 0 20%;
}

.infl-dropdown {
  font-weight: bold;
  color: #999999 !important;
  width: 160px !important;
}

.infl-arrow {
  position: absolute;
  top: 15px;
  right: 15px;
}
